.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: url("./img/space.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  color: #fff;
}

/*LOADER SECTION*/
.loader{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-img img{
  width: 70%;
  height: 40%;
  animation: loader-spin infinite 5s linear;
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*HEADER*/

.header{
  width: 80%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.header-container{
  width: 100%;
  height: 100%;
  background: url("./img/header.webp");
  /* background-size: cover; */
  background-repeat:no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}

/*INFO CONTAINER*/
.title{
  font-size: 2em;
}

.content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
}